body {
    padding: 0;
    margin: 0;
}

.full__size {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main__wrapper {
    display: flex;
    max-width: 800px;
}

.list__without__style {
    list-style: none;
    padding-left: 0;
}

.list__without__style li {
    padding: 8px;
}

.list__without__style li:nth-child(even) {
    background-color: #f2f2f2;
}

.project__list {
    display: flex;
    flex-direction: column;
}

.project__list li {
    display: flex;
    justify-content: space-between;
}

.main__list li {
    display: flex;
    justify-content: space-between;
}

.project__wrapper {
    padding: 8px;
}

.tasks__wrapper {
    padding: 8px;
    background-color: #fbfbfb;
    width: 500px;
    height: calc(100vh - 16px);
}

input[type=checkbox]:checked ~ span {
    text-decoration: line-through;
    color: #838383;
}

.selected__project {
    background-color: #e6e6e6 !important;
}

.selected__project {
    font-weight: bold;
}

h2 {
    height: 1em;
}
